
.msp-about-head{
    background-image: url('../resources/images/about.jpg');
}
.msp-introduce{
    >div:first-child{
        >div:nth-child(1){
            background-image: url('../resources/images/vision.png');
        }
        >div:nth-child(2){
            background-image: url('../resources/images/service.jpg');
        }
        >div:nth-child(3){
            background-image: url('../resources/images/value.jpg');
        }
        >div{
            text-align: center;
            height: 200px;
            line-height: 250px;
        }
    }

    >div:last-child{
        text-align: left;
       
        >div{
            height: 200px;
            >h3{
            }    
            >p{
                line-height: 14px;
            }
        }
    }
}