body,
ul {
    margin: 0px;
}

a {
    color: #911d5a;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
.msp-back{
    width: 75%;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 10px;
    >a{
        font-size: 16px;
    }
}
.msp-blog-bg{
    background: #ffffff;
}
.msp-article-list {
    height: calc(100% - 140px);
    >ul{
        padding:0px;
        >li:not(:last-child){
           // border-bottom:1px solid #e6e6e6;
        }
    }
    .msp-article {
        padding-left:60px;
        width: 75%;
        margin: 0 auto;
        >h3 {
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
            font-size: 28px;
            color: #1E1E1E;
            margin-bottom: 10px;
            margin-top: 70px;
            >a{
                color: #333;
                text-decoration: none;
            }
        }
        >p[date] {
            color: #999999;
        }
        >div[cover] {
            height: 200px;
            width: 300px;
            img {
                height: 100%;
            }
        }
        >p[summary] {
            padding-top: 10px;
            width: 80%;
            padding-bottom: 10px;
        }
        >p[source]{
            margin-bottom: 40px;
        }
    }
}
.msp-article-detail{
    width: 55%;
    margin: 0 auto;
    min-height:380px;
    >h2{
        margin: 0px 0px 10px; 
        padding: 0px; 
        font-weight: 400; 
        font-size: 24px; 
        line-height: 1.4;
    }
    >p{
        margin: 0px 0px 18px; 
        padding: 0px; 
        line-height: 20px; 
        font-size: 0px; 
        position: relative; 
        z-index: 1;
        >span{
            margin: 0px 8px 10px 0px; 
            padding: 0px; 
            display: inline-block; 
            vertical-align: middle; 
            font-size: 16px; 
            color: rgb(140, 140, 140);
        }
    }
}

.msp-article-image{
    >img{
        height: 175px;
    }
}
.msp-page{
    height: 100px;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    >.row{
        >div:nth-child(2){
            text-align: center;
        }
        >div:nth-child(3){
            text-align: right;
        }
    }
}
.msp-blog-foot{
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-top:1px solid #e6e6e6;
    padding-right: 20px;
}

