body,
ul {
    margin: 0px;
}

.button {
    width: 265px;
    height: 73px;
    background-color: #911d5a;
    border-radius: 4px;
}

.mps-purple-font {
    color: #911d5a;
}

.mps-purple-bg {
    background-color: #911d5a;
}

.msp-logo {
    width: 197px;
    height: 50px;
}

.msp-nav {
    height: 70px;
    line-height: 70px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    background: #f2f2f2;
    border-bottom: 1px solid #e6e6e6;
    >.header-left {
        float: left;
        width: 15%;
        height: 100%;
        position: relative;
        padding-left: 15px;
    }
    >.header-middle {
        padding-left: 20px;
        margin-top: 10px;
    }
    >.header-middle,
    >.header-right {
        width: 75%;
        float: left;
    }
    >.header-middle,
    >.header-right {
        .nav>li>a:hover,
        .nav>li>a:focus,
        .nav .open>a:hover,
        .nav .open>a:focus,
        .nav .open>a {
            color: #911d5a;
        }
    }
    >.header-right {
        float: right;
        width: 15%;
    }
}

.msp-card {
    background: #f2f2f2;
    width: 100%;
    overflow: hidden;
}

.msp-card-1 {
    background: #f9f9f9;
    width: 100%;
    overflow: hidden;
}

.msp-text-center {
    text-align: center;
}

.msp-h1 {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    color: #1E1E1E;
    text-align: center;
    margin-top: 100px;
    >p {
        display: inline-block;
    }
}

.msp-h2 {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #1E1E1E;
    >p {
        display: inline-block;
    }
}




.msp-paragraph {
    >p {
        line-height: 25px;
        margin: 0px;
    }
}

.font_default {
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}


.msp-btn {
    background: #666666;
    width: 140px;
    height: 40px;
}

.msp-conect {}

.msp-question {
    margin-top: 30px;
    margin-bottom: 20px;
}

.msp-down {
    width: 8px;
    transform: rotate(180deg);
}

.msp-form-tip {
    color: gray;
    height: 45px;
    line-height: 45px;
}

.msp-foot.modal-footer {
    border-top: 0px;
    text-align: center;
    .btn {
        width: 100%;
        height: 50px;
    }
}

.msp-modal-content.modal-content {
    width: 80%;
    height: 560px;
    .form-group {
        margin-bottom: 20px;
    }
}

.msp-texarea.form-control {
    min-height: 100px;
}

.msp-input.form-control {
    height: 40px;
}

.msp-with-icon.form-control {
    padding-left: 35px;
}

.form-group {
    .glyphicon.glyphicon-user {
        display: inline-block;
        position: relative;
        top: 30px;
        margin-left: 5px;
        &:before {
            color: gainsboro;
        }
    }
}

.msp-no-resize.form-control {
    resize: none;
}

.msp-left {
    float: left;
}

.msp-right {
    float: right;
}

.msp-bg-white {
    background: white;
}

.msp-w10 {
    width: 10%;
}

.msp-w20 {
    width: 20%;
}

.msp-w30 {
    width: 30%;
}

.msp-w40 {
    width: 40%;
}

.msp-w50 {
    width: 50%;
}

.msp-w60 {
    width: 60%;
}

.msp-w70 {
    width: 70%;
}

.msp-w80 {
    width: 80%;
}

.msp-w90 {
    width: 90%;
}

.msp-mt20 {
    margin-top: 20px;
}


.nav-tabs {
    margin-bottom: 20px;
    >li>a:hover {
        background: white;
        border: 0px;
    }
    >li.active>a,
    >li.active>a:hover,
    >li.active>a:focus {
        color: #555;
        cursor: default;
        border: 0px;
        background-color: white;
        border-bottom: 2px solid #999999;
    }
}

.msp-nav {
    .nav-tabs {
        border: 0px;
        >li>a {
            color: #999999;
            &:hover {
                border: 0px;
            }
        }
        >li.active>a,
        >li.active>a:hover,
        >li.active>a:focus {
            color: #911d5a;
            cursor: default;
            border: 0px;
        }
    }
}

.nav-tabs>li>a {
    border: 0px;
}

.panel {
    border: 0px;
}

.nav.navbar-nav {
    >li>a {
        color: #999999;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
}

.msp-nav-tabs.nav-tabs {
    a {
        padding-left: 0px;
    }

    >li>a {
        text-decoration: none;
        font-size: 18px;
        color: #666666;

        &:hover {
            color: black;
        }
    }
}

.msp-tab-content {
    .panel-body {
        padding-left: 0px;
    }

    .panel-heading {
        padding-left: 0;
    }
}

.panel-default>.panel-heading {
    background-color: white;
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 0px;
}


.panel-title>a {
    text-decoration: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    &:hover {
        color: rgb(3, 153, 255);
    }
}


.btn-primary {
    background-color: #911d5a;
    &:hover {
        background-color: #911d5a;
    }
}


.msp-banner-middle {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    >img {
        width: 100%;
        height: 200px;
    }
}

.msp-content-middle {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.font_default {
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}

.msp-block-item {
    width: 354px;
    height: 255px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    padding: 10px;
    &:hover {
        box-shadow: 5px 5px 2px #9999;
    }
}

.col-card {
    border: 1px solid #e6e6e6;
    height: 200px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}




.msp-small-circle {
    background: gray;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 40px;
}

.msp-big-circle {
    background: gray;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    width: 50px;
}

.form-horizontal .has-feedback .form-control-feedback {
    line-height: 80px;
}

.has-error {
    .help-block {
        float: right;
        margin-top: -25px;
        right: 30px;
        position: relative;
    }
}

.msp-active {
    color: #0399ff;
}

.msp-public-num {
    position: relative;
    top: 50px;
    width: 100px;
    height: 80px;
    right: 110px;
}

.col-card-with-margin {
    background: white;
    height: 200px;
}

.msp-w100 {
    width: 100%;
}

.glyphicon-middle {
    .glyphicon.glyphicon-edit,
    .glyphicon.glyphicon-earphone {
        &:before {
            font-size: 30px;
            color: #c6c6c6;
        }
    }
}

.msp-h3 {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: #1E1E1E;
    text-align: center;
}

.msp-function-list {
    >p:first-child {
        padding-left: 0px;
        &::before {
            content: "|";
            font-size: 2.0em;
            font-weight: bolder;
            color: #797979;
            margin-right: 10px;
        }
    }
    >p {
        height: 30px;
        line-height: 30px;
        padding-left: 20px;
    }
}


.msp-hover-expand {
    height: 50px;
    overflow: hidden;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    position: relative;
    &:hover {
         height: 180px;
    }
}




.col-card {
    .summary{
        height: 50px;
        overflow: hidden;
        transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
        -ms-transition: all .6s ease-in-out;
        position: relative;
        background: #green;
        top:100px;
    }

    &:hover {
        .summary{
            transform:scale(1.5);
            height: 80px;
            background: red;
            top:50px;
        }
    }
    .detail{
        opacity: 0;
        height: 50px;
        overflow: hidden;
        transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
        -ms-transition: all .6s ease-in-out;
        position: relative;
        background: green;
        top:100px;
    }

    &:hover {
        .detail{
            opacity: 1;
            transform:scale(1.5);
            height: 80px;
            background: red;
            top:50px;
        }
    }

}
.my-nav{
    div[status]{
        width: 0px;
        margin-top: 5px;
        border-bottom: 2px solid #911d5a;
    }
    
}
.msp-nav-selected{
    color:#f2f2f2;
    >div[status]{
        width: auto;
        margin-top: 5px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
    }

}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: #f2f2f2;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f2f2f2;
}
