body,
ul {
    margin: 0px;
}

.ys-nav {
    background: #000000;
    height: 50px;
    line-height: 50px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    >.header-left {
        float: left;
        width: 10%;
        height: 100%;
        position: relative;
        >.circle {
            background: gray;
            border-radius: 20px;
            height: 40px;
            display: inline-block;
            width: 40px;
            position: absolute;
            margin: auto;
            left: 10px;
            top: 0;
            bottom: 0;
        }
    }
    >.header-middle,
    >.header-right {
        width: 75%;
        float: left;
    }
    >.header-middle,
    >.header-right {
        .nav>li>a:hover,
        .nav>li>a:focus,
        .nav .open>a:hover,
        .nav .open>a:focus,
        .nav .open>a {
            background: #000000 !important;
        }
    }
    >.header-right {
        float: right;
        width: 15%;
    }
}

.ys-card {
    background: #f2f2f2;
    width: 100%;
    overflow: hidden;
}

.ys-card-1 {
    background: #f9f9f9;
    width: 100%;
    overflow: hidden;
}

.ys-text-center {
    text-align: center;
}

.ys-h1 {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    color: #1E1E1E;
    text-align: center;
    height: 150px;
    line-height: 150px;
    >p {
        display: inline-block;
    }
}

.ys-h2 {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #1E1E1E;
    height: 120px;
    line-height: 120px;
    >p {
        display: inline-block;
    }
}

.tag {
    width: 300px;
    height: 100px;
    border: 5px solid #09F;
    position: relative;
    background-color: #FFF;
}

.tag:before,
.tag:after {
    content: "";
    display: block;
    border-width: 20px;
    position: absolute;
    bottom: -40px;
    left: 100px;
    border-style: solid dashed dashed;
    border-color: #09F transparent transparent;
    font-size: 0;
    line-height: 0;
}

.tag:after {
    bottom: -33px;
    border-color: #FFF transparent transparent;
}

.ys-paragraph {
    >p {
        line-height: 25px;
        margin: 0px;
    }
}

.font_default {
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}


.ys-btn {
    background: #666666;
    width: 140px;
    height: 40px;
}

.ys-conect {}

.ys-question {
    margin-top: 30px;
    margin-bottom: 20px;
}

.ys-down {
    width: 8px;
    transform: rotate(180deg);
}

.ys-form-tip {
    color: gray;
    height: 45px;
    line-height: 45px;
}

.ys-foot.modal-footer {
    border-top: 0px;
    text-align: center;
    .btn {
        width: 100%;
        height: 50px;
    }
}

.ys-modal-content.modal-content {
    width: 455px;
    height: 560px;
    .form-group {
        margin-bottom: 20px;
    }
}

.ys-texarea.form-control {
    min-height: 100px;
}

.ys-input.form-control {
    height: 40px;
}

.ys-with-icon.form-control {
    padding-left: 35px;
}

.form-group {
    .glyphicon.glyphicon-user {
        display: inline-block;
        position: relative;
        top: 30px;
        margin-left: 5px;
        &:before {
            color: gainsboro;
        }
    }
}

.ys-no-resize.form-control {
    resize: none;
}

.ys-left {
    float: left;
}

.ys-right {
    float: right;
}

.ys-bg-white {
    background: white;
}

.ys-w10 {
    width: 10%;
}

.ys-w20 {
    width: 20%;
}

.ys-w30 {
    width: 30%;
}

.ys-w40 {
    width: 40%;
}

.ys-w50 {
    width: 50%;
}

.ys-w60 {
    width: 60%;
}

.ys-w70 {
    width: 70%;
}

.ys-w80 {
    width: 80%;
}

.ys-w90 {
    width: 90%;
}

.ys-mt20 {
    margin-top: 20px;
}


.nav-tabs {
    margin-bottom: 20px;
    >li>a:hover {
        background: white;
        border: 0px;
    }
    >li.active>a,
    >li.active>a:hover,
    >li.active>a:focus {
        color: #555;
        cursor: default;
        border: 0px;
        background-color: white;
        border-bottom: 2px solid #999999;
    }
}

.ys-nav {
    .nav-tabs {
        border: 0px;
        >li>a {
            color: #cccccc;
            background: #000000;
            &:hover {
                background: #000000;
                border: 0px;
            }
        }
        >li.active>a,
        >li.active>a:hover,
        >li.active>a:focus {
            color: white;
            cursor: default;
            border: 0px;
            background: #000000;
        }
    }
}

.nav-tabs>li>a {
    border: 0px;
}

.panel {
    border: 0px;
}

.nav.navbar-nav {
    >li>a {
        color: #cccccc;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
}

.ys-nav-tabs.nav-tabs {
    a{
        padding-left: 0px;
    }

    >li>a {
        text-decoration: none;
        font-size: 18px;
        color: #666666;

        &:hover {
            color: black;
        }
    }
}

.ys-tab-content{
    .panel-body {
        padding-left: 0px;
    }

    .panel-heading {
        padding-left: 0;
    }
}

.panel-default>.panel-heading {
    background-color: white;
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 0px;
}


.panel-title>a {
    text-decoration: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    &:hover {
        color: rgb(3, 153, 255);
    }
}


.btn-primary {
    background-color: #666666;
    &:hover {
        background-color: #000000;
    }
}


.ys-banner-middle{
    width: 60%;
    margin: 0 auto;
    margin-top:20px ;
    margin-bottom:20px ;
    >img{
        width: 100%;
        height:200px;
    }   
}

.ys-content-middle{
    width: 60%;
    margin: 0 auto;
    margin-top:20px ;
    margin-bottom:20px ;
}
.font_default {
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}
.ys-block-item{
    width: 354px;
    height: 255px;
    overflow: hidden;
    border:1px solid #e6e6e6;
    margin-bottom:20px;
    padding:10px;
    &:hover{
        box-shadow: 5px 5px 2px #9999;
    }
}
.col-card{
    border:1px solid #e6e6e6;
    height: 200px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}




.ys-small-circle {
    background: gray;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 40px;
}

.ys-big-circle {
    background: gray;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    width: 50px;
}

.form-horizontal .has-feedback .form-control-feedback {
    line-height: 80px;
}

.has-error{
    .help-block{
        float:right;
        margin-top: -25px;
        right: 30px;
        position: relative;
    }
}

.ys-active{
    color:#0399ff;
}
.ys-public-num{
    position: relative;
    top: 50px;
    width: 100px;
    height: 80px;
    right: 110px;
}

.col-card-with-margin{
    background: white;
    height: 200px;

}
.ys-w100{
    width: 100%;
}
.glyphicon-middle{
    .glyphicon.glyphicon-edit,
    .glyphicon.glyphicon-earphone{
        &:before{
            font-size: 30px;
            color:#c6c6c6;
        }
    }
}

.ys-h3{
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: #1E1E1E;
    text-align: center;
}
.ys-function-list{
    >p:first-child{
        padding-left:0px;
        &::before{
            content:"|";
            font-size: 2.0em;
            font-weight: bolder;
            color: #797979;
            margin-right: 10px;
        }
    }
    >p{
        height: 30px;
        line-height: 30px;
        padding-left:20px;
    }
}


