body,
ul {
    margin: 0px;
}

.ys-nav {
    background: #000000;
    height: 50px;
    line-height: 50px;
    >.header-left {
        float: left;
        width: 10%;
        height: 100%;
        position: relative;
        >.circle {
            background: gray;
            border-radius: 20px;
            height: 40px;
            display: inline-block;
            width: 40px;
            position: absolute;
            margin: auto;
            left: 10px;
            top: 0;
            bottom: 0;
        }
    }
    >.header-middle {
        width: 75%;
        float: left;
    }
    >.header-right {
        float: right;
        width: 15%;
    }
    .ys-nav-ul {
        li {
            list-style: none;
            a {
                color: #cccccc;
                text-decoration: none;
            }
        }
        >li {
            display: inline-block;
        }
    }

    .sub-nav {
        display: none;
        position: absolute;
        box-shadow: #666 0px 0px 10px;
        background: #ffffff;
        padding: 0px 10px 0px 10px;
        >li {
            height: 50px;
            border-bottom: 1px solid #cdcdcd;
            font-family: 'ArialMT', 'Arial';
            font-weight: 400;
            font-style: normal;
            font-size: 13px;
            color: #333333;
            text-align: center;
            line-height: 50px;
            &:hover {
                color: black;
            }
        }
        >li:last-child {
            border: 0px;
        }
    }
    &:hover {
        .sub-nav {
            display: block;
            margin-top: 10px;
        }
    }
}

.ys-card {
    background: #f2f2f2;
    text-align: center;
}

.ys-font-head {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    color: #1E1E1E;
    text-align: center;
    height: 150px;
    line-height: 150px;
    >p {
        margin: 0px;
    }
}


.tag {
    width: 300px;
    height: 100px;
    border: 5px solid #09F;
    position: relative;
    background-color: #FFF;
}

.tag:before,
.tag:after {
    content: "";
    display: block;
    border-width: 20px;
    position: absolute;
    bottom: -40px;
    left: 100px;
    border-style: solid dashed dashed;
    border-color: #09F transparent transparent;
    font-size: 0;
    line-height: 0;
}

.tag:after {
    bottom: -33px;
    border-color: #FFF transparent transparent;
}

.ys-font-paragraph {
    >p {
        line-height: 25px;
        margin: 0px;
    }
}

.font_default {
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}


.test {
    width: 300px;
    padding: 30px 20px;
    margin-left: 60px;
    background: #beceeb;
    position: relative;
}

.test span {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
}

.test span.bot {
    border-width: 20px;
    border-style: solid;
    border-color: #ffffff #beceeb #beceeb #ffffff;
    left: -40px;
    top: 40px;
}

.test span.top {
    border-width: 10px 20px;
    border-style: dashed solid solid dashed;
    border-color: transparent #ffffff #ffffff transparent;
    left: -40px;
    top: 60px;
}